@import url('https://fonts.googleapis.com/css2?family=BioRhyme:wght@200..800&family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&family=Cormorant:ital,wght@0,300..700;1,300..700&family=Great+Vibes&family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Lora:ital,wght@0,400..700;1,400..700&family=Orbitron:wght@400..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&family=Yellowtail&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    /* font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>; */
}

html,
body {
    width: 100%;
    min-height: 100vh;
    background: #291718;
    color: #fff;
}

.page1,
.page2 {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 0.5rem;
}

.page1 .background {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 0.5rem);
    height: calc(100% - 0.5rem);
    background: black;
    /* background: gray; */
    border-radius: 40px;
    overflow: hidden;
    z-index: 0;
}

.background video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.8);
}

nav {
    position: relative;
    padding: 1rem 1.5rem;
    width: 100%;
    height: 6rem;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

a {
    text-decoration: none;
    color: #fff;
}

#logo {
    width: 7rem;
    height: 3.5rem;
    overflow: hidden;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
}

#logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.navigation {
    display: flex;
    gap: 2rem;
}

.navigation a {
    width: 8rem;
    height: 3.5rem;
    background: rgba(0, 0, 0, 0.5);
    /* Frosted blur effect */
    backdrop-filter: blur(5px);

    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Orbitron", sans-serif;
    font-size: 1.2rem;
    overflow: hidden;
}

#profile {
    padding: 0.5rem 1rem;
    height: 3.5rem;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 2rem;
}

#profile img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background: yellow;
    object-fit: cover;
    overflow: hidden;
}

#profile p {
    font-size: 0.9rem;
    color: #ead8d8;
}

#profile h3 {
    font-size: 1.1rem;
    font-family: "Orbitron", sans-serif;
}

/* active */
.active {
    position: relative;
}

.active::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    filter: blur(.5rem);
    border: solid 1rem;
    border-color: yellow;
}

.container {
    position: relative;
    padding: 1rem 1.5rem;
    width: 100%;
    height: calc(100% - 6rem);
    /* background: yellow; */
    z-index: 1;
}

#top,
#bottom,
#bottom {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#top .left {
    position: relative;
}

#top .left h1 {
    font-family: "Orbitron", sans-serif;
    font-size: 4rem;
    font-weight: 500;
}

#top .left p {
    width: 45%;
    color: #ead8d8;
}

#top .right {
    position: relative;
    width: 10rem;
    height: 12rem;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
    border: 1px solid gray;
    border-radius: 10px;
    overflow: hidden;
}

.right img,
#earthImage img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#bottom .left {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

#bottom .left .option {
    width: 10rem;
    height: 3rem;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
    border-radius: 15px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    color: white;
    border: 1px solid gray;
    overflow: hidden;
}

#earthImage {
    width: 10rem;
    height: 10rem;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
    margin-top: 1rem;
    border: 1px solid gray;
    overflow: hidden;
}

#bottom .right {
    position: relative;
}

#info {
    width: 10rem;
    padding: 1rem;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
    border: 1px solid gray;
    border-radius: 10px;
}

#info p {
    font-size: 0.9rem;
    color: #ead8d8;
}

#info h4 {
    margin-top: 0.5rem;
    font-size: 1.2rem;
}

#speed {
    margin-top: 1rem;
    width: 10rem;
    height: 12rem;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
    border: 1px solid gray;
    display: flex;
    align-items: center;
    justify-content: center;
}

#speed div {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    box-shadow: 0 0 10px #f4e974,
        0 0 20px #f4e974;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #f4e974;
}

#speed h4 {
    font-size: 2.2rem;
}

/* page2 */
.page2 {
    position: relative;
    overflow: hidden;
}

.page2 .box {
    width: 100%;
    height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background: red; */
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.box .line {
    width: 100%;
    height: 50%;
    /* background: yellow; */
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.line .imgBox {
    width: 33%;
    height: 100%;
    position: relative;
    /* background: blue; */
    overflow: hidden;
}

.imgBox h1,
.imgBox p,
#rightText {
    position: absolute;
    font-family: "Orbitron", sans-serif;
    mix-blend-mode: difference;
    z-index: 1;
}

.imgBox h1 {
    font-size: 3rem;
    top: 4%;
    left: 3%;
    width: 80%;
}

#rightText {
    bottom: 5%;
    right: 3%;
    width: 33%;
    /* font-size: 0.8rem; */
    text-align: end;
    font-weight: 300;
}

.imgBox p {
    left: 3%;
    bottom: 5%;
    width: 30%;
}

.imgBox img,
#bgVid {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#bgVid {
    filter: brightness(0.7);
}

/* page3 */
.page3 {
    width: 100%;
    height: 100vh;
}

.page3 h2 {
    width: 100%;
    font-size: 2rem;
    padding: 1.5rem 2rem 0.5rem 3rem;
    color: #bfaaaa;
    margin-top: 2rem;
}

.page3 .box {
    position: relative;
    width: 100%;
    height: calc((100vh - 6rem) / 4);
    display: flex;
    align-items: center;
    padding: 3rem;
    cursor: pointer;
}

.page3 .box::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 0%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #0058f4;
    transition: 0.4s ease-in-out;
    z-index: -1;
}

.page3 .box:hover::before {
    height: 100%;
}

.page3 .box h3 {
    font-family: "Orbitron", sans-serif;
    font-size: 6rem;
    letter-spacing: 0.5rem;
    transition: 0.3s;
}

#shortVideo {
    position: absolute;
    top: -75%;
    right: 32%;
    width: 12rem;
    /* height: 16rem; */
    height: 12rem;
    opacity: 0;
    /* background: yellow; */
    transition: 0.4s;
}

#shortVideo video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.page3 .box:hover h3 {
    color: black;
}

.page3 .box:hover #shortVideo {
    height: 16rem;
    opacity: 1;
}


/* page4 */
.page4, .page5 {
    width: 100%;
    height: 120vh;
    position: relative;
    overflow: hidden;
}

.textBox {
    position: absolute;
    width: 280%;
    top: 50%;
    left: 0;
    transform: translate(0%, -50%);
    padding: 0 2rem;
    height: 25rem;
    display: flex;
    align-items: center;
}

#boxDiv {
    position: relative;
    width: 280%;
    height: 25rem;
}

.textBox h1 {
    font-size: 17rem;
    font-family: "Orbitron", sans-serif;
    color: #0058f4;
}

#boxDiv img {
    position: absolute;
    top: 0;
    left: 0;
    width: 16rem;
    height: 10rem;
    border-radius: 10px;
    rotate: 8deg;
    object-fit: cover;
}

#boxDiv img:nth-of-type(1) {
    top: 58%;
    left: 10%;
}

#boxDiv img:nth-of-type(2) {
    left: 30%;
    top: 2%;
}

#boxDiv img:nth-of-type(3) {
    left: 55%;
    top: 58%;
}

#boxDiv img:nth-of-type(4) {
    left: 90%;
    top: 2%;
}

/* page5 */

.page5, .page6 {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page5 .container{
    width: 100%;
    height: 100%;
    clip-path: inset(0 30%);
}

.page5 .container video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    scale: 1.12;
}

/* page6 */
.page6{
    flex-direction: column;
    padding: 1rem 0;
}

#topDiv{
    width: 100%;
    height: 12rem;
    display: flex;
    justify-content: center;
    align-items: start;
}

#topDiv h1{
    font-size: 8rem;
    font-family: "Orbitron", sans-serif;
    line-height: 8rem;
    text-shadow: 0 0 5px #b8b8b8;
}

#bottomDiv{
    width: 100%;
    height: calc(100vh - 8rem);
    display: flex;
    gap: 1rem;
    padding: 0 1rem;
}

#bottomDiv .videoDiv{
    width: 33%;
    height: 85%;
    overflow: hidden;
    cursor: pointer;
}
#bottomDiv .videoDiv video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
