*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html, body{
    width: 100%;
    height: 100%;
}

header{
    padding: 1rem 2rem;
    /* border: 2px solid black; */
    height: 12vh;
    border-bottom: 2px solid gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo{
    width: 6rem;
}

header .middleBox{
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.middleBox a{
    text-decoration: none;
    color: gray;
    font-size: 1rem;
}

.rightBox{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.inputBox{
    display: flex;
    width: 15rem;
    border: 1px solid black;    
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    background: lightcyan;
}

.inputBox input{
    width: 80%;
    padding: 0.5rem 1rem;
    outline: none;
    border: none;
    background: transparent;
}

.inputBox button{
    width: 20%;
    border: none;
    background: transparent;
    padding: 0 10px;
}

.inputBox button i{
    font-size: 1.2rem;
    color: gray;
}

a{
    display: block;
}

a i{
    font-size: 1.4rem;
    color: black;
}

/* main style */
main{
    width: 100%;
    height: 88vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left, .right{
    width: 100%;
    height: 100%;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left{
    /* background: yellow; */
    align-items: start;
    padding: 2rem 4rem;
}

.left h2{
    font-size: 1.8rem;
    font-weight: 500;
}

.left h1{
    font-size: 2rem;
    margin: 1rem 0;
}

.left p{
    font-size: 1rem;
    text-align: start;
}

.leftImg{
    width: 15rem;
    height: 13rem;
    margin-top: 4rem;
    border-radius: 10px;
    overflow: hidden;
}

.leftImg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.right img{
    width: 90%;
}